.footer {
	padding: $padding__mobile;
	background-color: $color__green;
	min-height: 20rem;

	&__logo {
		display: block;
		margin: 0 auto;
		margin-bottom: 2rem;
		transform: scale(1.4);
	}

	&__list {
		list-style-type: none;
		display: flex;
		justify-content: center;
		margin-bottom: 4rem;

		&--page {
			gap: 3rem;
		}

		&--social {
			gap: 1.25rem;
			margin-bottom: 2rem;
		}
	}

	&__link {
		color: $color__cyan--moderate;
		text-decoration: none;
		transition: color 0.3s ease-out;

		&:hover {
			color: $color__white;
		}
	}

	&__link-image {
		transition: fill 0.3s ease-out;

		&:hover {
			fill: $color__white;
		}
	}

	&__attribution {
		font-size: 12px;
		text-align: center;
	}

	&__attribution-link {
		color: hsl(228, 45%, 44%);
	}
}

@media (min-width: $viewport--desktop) {
	.footer {
		padding: $padding__main;
	}
}
