.fruits {
	&__panel {
		@include fullCoverBg();
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		min-height: 30rem;
		padding: 3rem 0.6rem; //might need later

		&--cherry {
			background-image: url("../../images/mobile/image-graphic-design.jpg");
		}

		&--orange {
			background-image: url("../../images/mobile/image-photography.jpg");
		}
	}

	&__text {
		&--cherry {
			color: $color__cyan--desaturated;
		}
		&--orange {
			color: $color__blue;
		}
	}

	&__title {
		@include majorFont(capitalize, 900);
		margin-bottom: 1.75rem;
	}

	&__paragraph {
		font-size: 0.9rem;
	}
}

@media (min-width: $viewport--desktop) {
	.fruits {
		display: flex;

		&__panel {
			width: 0;
			flex: 1;

			&--cherry {
				background-image: url("../../images/desktop/image-graphic-design.jpg");
			}

			&--orange {
				background-image: url("../../images/desktop/image-photography.jpg");
			}
		}
	}
}
