.hero {
	@include fullCoverBg();
	background-image: url("../../images/mobile/image-header.jpg");
	height: $height__hero;
	padding: $padding__nav;

	&__navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}

	&__list {
		@include triangle();
		height: 20rem;
		padding: $padding__mobile;
		width: 100%;
		position: absolute;
		top: 4.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $color__white;
		gap: 2.5rem;
	}

	&__list-item {
		list-style-type: none;
	}

	&__link {
		color: $color__blue--dark-gray;
		text-decoration: none;
		font-size: 1rem;

		&--contact {
			@include majorFont(uppercase);
			font-size: 0.8rem;
			padding: 1rem 1.75rem;
			border-radius: 1.75rem;
			background-color: $color__yellow;
			color: $color__blue--dark-desaturated;
		}
	}

	&__hamburger {
		cursor: pointer;
	}

	&__title {
		@include majorFont(uppercase, 900);
		text-align: center;
		color: $color__white;
		letter-spacing: 0.4rem;
		margin: 5rem 0;
		font-size: 2.25rem;
	}

	&__arrow {
		@include centerImage();
	}
}

@media (min-width: $viewport--tablet) {
	.hero {
		padding: $padding__nav--tablet;
		background-image: url("../../images/desktop/image-header.jpg");

		&__list {
			flex-direction: row;
			justify-content: flex-end;
			position: static;
			padding: 0;
			background-color: transparent;
			width: auto;
			height: auto;
		}

		&__link {
			color: $color__white;

			&--contact {
				@include hoverEffect(background-color, $color__white--transparent);
				@include hoverEffect(color, $color__white);
				color: $color__blue--dark-desaturated;
				background-color: $color__white;
				transition: color 0.3s ease-out, background-color 0.3s ease-out;
			}
		}

		&__hamburger {
			display: none;
		}
	}
}

@media (min-width: $viewport--desktop) {
	.hero {
		background-image: url("../../images/desktop/image-header.jpg");

		&__title {
			font-size: 3.1rem;
			margin: 8rem 0;
		}
	}
}
