.hero {
	@include fullCoverBg();
	background-image: url("../../images/mobile/image-header.jpg");
	height: $height__hero;
	padding: $padding__nav;

	&__navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
	}

	&__list {
		display: none;
	}

	&__list-item {
	}

	&__link {
	}

	&__hamburger {
		cursor: pointer;
	}

	&__title {
		@include majorFont(uppercase, 900);
		text-align: center;
		color: $color__white;
		letter-spacing: 0.4rem;
		margin: 4rem 0 3rem 0;
	}

	&__arrow {
		@include centerImage();
	}
}

@media (min-width: $viewport--tablet) {
	.hero {
		padding: $padding__nav--tablet;
		background-image: url("../../images/desktop/image-header.jpg");

		&__list {
			list-style-type: none;
			display: flex;
			gap: 2.5rem;
		}

		&__link {
			color: $color__white;
			text-decoration: none;

			&--contact {
				@include majorFont(uppercase);
				padding: 1rem 1.75rem;
				border-radius: 1.75rem;
				background-color: $color__white;
				color: $color__blue--dark-desaturated;
				transition: color 0.3s ease-out, background-color 0.3s ease-out;

				&:hover {
					background-color: rgba($color: #fff, $alpha: 0.4);
					color: $color__white;
				}
			}
		}

		&__hamburger {
			display: none;
		}
	}
}

@media (min-width: $viewport--desktop) {
	.hero {
		background-image: url("../../images/desktop/image-header.jpg");

		&__title {
			font-size: 3rem;
			margin: 8rem 0;
		}
	}
}
