.testimonials {
	padding: $padding__mobile;

	&__title {
		@include majorFont(uppercase);
		text-align: center;
		font-size: 1rem;
		letter-spacing: 4px;
		color: $color__blue--gray;
		margin-bottom: 1.5rem;
	}

	//Reviews
	&__clients {
		display: flex;
		flex-direction: column;
	}

	&__client {
		margin: 2rem 0rem;
		text-align: center;
	}

	&__avatar {
		@include centerImage();
		width: 25%;
		border-radius: 50%;
		margin-bottom: 2rem;
	}

	&__review {
		margin-bottom: 2rem;
		color: $color__blue--very-dark-gray;
	}

	&__name {
		@include majorFont(capitalize, 900);
		font-size: 1.1rem;
		color: $color__blue--dark-desaturated;
		margin-bottom: 0.5rem;
	}

	&__profession {
		color: $color__blue--gray;
	}
}

@media (min-width: $viewport--desktop) {
	.testimonials {
		padding: $padding__testimonial;

		&__title {
			font-size: 1.25rem;
			margin-bottom: 2rem;
		}

		&__clients {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 2rem;
		}

		&__client {
			flex: 1;
			width: 0;
		}
	}
}
